
#home-category {
  background-color: #fff;
  padding: 10px;

  .carousel-item {
    ul {
      width: 100%;
      height: auto;
    }
    li {
      display: block;
      list-style: none;
      width: 20%;
      background-repeat: no-repeat;
      background-size: 50px auto;
      background-position: top center;
      text-align: center;
      padding-top: 50px;
      color: #666;
      font-size: 14px;
    }
    li.jingdian {
      background-image: url(https://github.com/NxDon/react-dianping/blob/master/app/static/img/4.png?raw=true);
    }
    li.ktv {
      background-image: url(../../static/img/2.png);
    }
    li.gouwu {
      background-image: url(../../static/img/3.png);

    }
    li.shenghuofuwu {
      background-image: url(../../static/img/4.png);

    }
    li.jianshenyundong {
      background-image: url(../../static/img/5.png);

    }
    li.meifa {
      background-image: url(../../static/img/6.png);

    }
    li.qinzi {
      background-image: url(../../static/img/7.png);

    }
    li.xiaochikuaican {
      background-image: url(../../static/img/8.png);

    }
    li.zizhucan {
      background-image: url(../../static/img/9.png);

    }
    li.jiuba {
    }
    li.meishi {
    }
    li.dianying {
    }
    li.jiudian {
    }
    li.xuixianyule {
    }
    li.waimai {
    }
    li.huoguo {
    }
    li.liren {
    }
    li.dujiachuxing {
    }
    li.zuliaoanmo {
    }
    li.zhoubianyou {
    }
    li.ribencai {
    }
    li.SPA {
    }
    li.jiehun {
    }
    li.xuexipeixun {
    }
    li.xican {
    }
    li.huochejipiao {
    }
    li.shaokao {
    }
    li.jiazhuang {
    }
    li.chongwu {
    }
    li.quanbufenlei {
      background-image: url(http://images2015.cnblogs.com/blog/138012/201610/138012-20161022224348467-646596364.png);
    }
  }

  .index-container {
    margin-top: 10px;

    ul {
      width: 100%;
      height: auto;
      text-align: center;
    }
    li {
      list-style: none;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: #ccc;
      margin: 0 3px;
    }
    li.selected {
      background-color: rgb(233, 32, 61);
    }
  }
}